<!DOCTYPE html>
<html lang="en"><!---Accessibility Change-->
<title>BudgetApp </title><!---Accessibility Change-->
<article class="hero">

  <h2>Personal-budget management app</h2>

<section class="container center">
  <section class="page-area">
      <div class="text-box">
          <h6>
              This App will show your Monthly Budget. Go to Dashboard to continue.
              <p>
              If you don't have an account please SignUp.
            </p>
          </h6>
      </div>
  </section>
</section>
</article>
</html>
